{
  "env": {
    "node": true,
    "commonjs": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 9
  },
  "rules": {
    "space-before-function-paren": [
      2,
      {
        "anonymous": "never",
        "named": "never",
        "asyncArrow": "always"
      }
    ],
    "max-len": [1, { "code": 130, "tabWidth": 4, "ignoreUrls": true, "ignoreComments": true, "ignoreStrings": true }],
    "semi": [1],
    "quotes": [2, "single"],
    "comma-dangle": [2, "never"],
    "object-curly-spacing": [2, "always"],
    "indent": [2, 2, { "SwitchCase": 1 }],
    "spaced-comment": [2, "always"],
    "multiline-comment-style": [2, "bare-block"],
    "no-multiple-empty-lines": [2, { "max": 2 }],
    "no-mixed-spaces-and-tabs": 2,
    "no-trailing-spaces": 2,
    "no-var": 2,
    "no-redeclare": 2,
    "no-const-assign": 2,
    "no-self-assign": 2,
    "no-unused-vars": [2, { "args": "none" }]
  }
}
